:root {
    --main-color: #FB3738;
    --first-color: #FB3738;
    --second-color: #0F7AD7;
    --third-color: #ED9721;

    --duration: .5s;
}

* {
    font-family: "Nunito", sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(173, 169, 150);
    background: -webkit-linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
    background: linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/** Loading Section */
.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    opacity: 1;
}

.loading img {
    width: 500px;
}

.loading.hide {
    opacity: 0;
}

.main-color {
    color: var(--main-color);
}

.show-carousel {
    z-index: 3;
}

/** Main Button */
.mainButton {
    width: fit-content;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: var(--duration);
}

.mainButton.remove {
    color: var(--bs-warning);
    border: 1px solid var(--bs-warning);
}

.mainButton:hover,
li.active {
    color: #fff;
    background-color: var(--main-color);
}

.mainButton:hover.remove {
    background-color: var(--bs-warning);
}

.mainBorder {
    border: 1px solid var(--main-color);
}


/** Main Title */
.title img {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h2 {
    position: relative;
    font-size: 35px;
}

section {
    padding: 50px 0px;
}

/** Main Background Color */
.mainBgColor {
    background: rgb(173, 169, 150);
    background: -webkit-linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
    background: linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
}

/** Size */
#Size ul li {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

/** Colors */
#Colors ul li {
    width: 16px;
    height: 16px;
    border: 1px solid var(--main-color);
}
#Colors ul li.active {
    border: none;
    box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px, #0000002b 0 12px 13px, #00000017 0 -3px 5px;
}

/** loved Section */
.lovedColor {
    color: red;
}