:root {
    --main-color: #FB3738;
    --first-color: #FB3738;
    --second-color: #0F7AD7;
    --third-color: #ED9721;

    --duration: .5s;
}

* {
    font-family: "Nunito", sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(173, 169, 150);
    background: -webkit-linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
    background: linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

section {
    padding: 25px 0;
}

/** Loading Section */
.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    opacity: 1;
}

.loading img {
    width: 500px;
}

.loading.hide {
    opacity: 0;
}

.main-color {
    color: var(--main-color);
}

.show-carousel {
    z-index: 3;
}

.mainButton {
    width: fit-content;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    transition-duration: var(--duration);
}

.mainButton:hover,
li.active {
    color: #fff;
    background-color: var(--main-color);
}

.mainBorder {
    border: 1px solid var(--main-color);
}

.title img {
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h2 {
    position: relative;
    font-size: 35px;
}

section {
    padding: 50px 0px;
}
