/** Navbar Section */
nav.navbar {
    position: fixed;
    z-index: 50;
    box-shadow: 0 .5rem 1rem #0000001a;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(173, 169, 150, .5);
    background: -webkit-linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
    background: linear-gradient(to right, rgba(234, 234, 234, .5), rgba(219, 219, 219, .5), rgba(242, 242, 242, .5), rgba(173, 169, 150, .5));
}

nav.navbar.scrolled {
    background: rgb(173, 169, 150);
    background: -webkit-linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
    background: linear-gradient(to right, rgb(234, 234, 234), rgb(219, 219, 219), rgb(242, 242, 242), rgb(173, 169, 150));
}

nav.navbar .navbar-brand {
    width: 85px;
}

nav.navbar .navbar-nav .nav-link {
    position: relative;
    padding: 10px;
    letter-spacing: 1.5px;
    margin: auto;
}

nav.navbar .navbar-nav .nav-link.active {
    color: var(--main-color);
}

nav.navbar .navbar-nav .nav-link::after,
nav.navbar .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 25%;
    height: 25%;
    background-color: transparent;
    transition-duration: var(--duration);
    opacity: 0;
}

nav.navbar .navbar-nav .nav-link::after {
    border-bottom: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    bottom: 0;
    right: -15%;
}

nav.navbar .navbar-nav .nav-link.active::after,
nav.navbar .navbar-nav .nav-link:hover::after {
    right: 0;
    opacity: 1;
}

nav.navbar .navbar-nav .nav-link::before {
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    top: 0;
    left: -15%;
}

nav.navbar .navbar-nav .nav-link.active::before,
nav.navbar .navbar-nav .nav-link:hover::before {
    left: 0;
    opacity: 1;
}

nav.navbar .icons {
    margin: 0;
}

nav.navbar .icons li {
    color: #777;
    transition-duration: var(--duration);
}

nav.navbar .icons li:hover {
    color: var(--main-color);
}

/** Header Section */
header .m-carousel {
    position: relative;
    overflow: hidden;
}

/* & Buttons */
header>button {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: transparent;
    border-radius: 50%;
    padding: 0px;
    transition-duration: var(--duration);
}

header>button:hover {
    color: #fff;
    background-color: var(--main-color);
}

#Home>button:nth-of-type(1) {
    left: 30px;
}

#Home>button:nth-of-type(2) {
    right: 30px;
}

/* & carousel items */
header .m-carousel .m-carousel-item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .m-carousel .m-carousel-item:nth-of-type(1) {
    background-image: url("../images/home-bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .m-carousel .m-carousel-item:nth-of-type(2) {
    background-image: url("../images/home-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .m-carousel .m-carousel-item:nth-of-type(3) {
    background-image: url("../images/home-bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*& Part 1 */
header .m-carousel .m-carousel-item .part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

header .m-carousel .m-carousel-item .part-1 .content {
    transform: translateX(-100%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: .8s;
}

header .m-carousel .m-carousel-item.show-carousel .part-1 .content {
    transform: translateX(0%);
    opacity: 1;
}

header .m-carousel .m-carousel-item .part-1 .content h2 {
    color: #2C2C54;
}

header .part-1 p {
    width: 90%;
}

/*& Part 2 */
header .m-carousel .m-carousel-item .part-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .m-carousel .m-carousel-item .part-2 img:nth-of-type(1) {
    position: relative;
    top: 50%;
    transform: translate(-10%, -100%);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: .3s;
}

header .m-carousel .m-carousel-item.show-carousel .part-2 img:nth-of-type(1) {
    transform: translate(-10%, -70%);
    opacity: 1;

}

header .m-carousel .m-carousel-item .part-2 img:nth-of-type(2) {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%) rotate(0deg) scale(.5);
    opacity: 0;
    transition-duration: 1s;
}

header .m-carousel .m-carousel-item.show-carousel .part-2 img:nth-of-type(2) {
    transform: translate(-45%, -50%) rotate(-35deg) scale(1);
    opacity: 1;
}

/** Offer Section */
#Offers .content [class*="part"]::after {
    content: "";
    position: absolute;
    display: block;
    width: 25%;
    height: 200%;
    background-color: #ffffff80;
    top: 50%;
    right: -55%;
    transform: translateY(-50%) rotate(-45deg);
    transition-duration: 1s;
}

#Offers .content [class*="part"]:hover::after {
    right: 150%;
}

#Offers .content [class*="part"] img {
    display: block;
    transform: scale(1.1);
    transition-duration: 1s;
}

#Offers .content [class*="part"]:hover img {
    transform: scale(1);
}

/** Latest Section */
#Latest .content .part-1 .photos li {
    cursor: pointer;
}

#Latest .content .part-1 .photos li img {
    transition-duration: var(--duration);
    transform: scale(.8);
}

#Latest .content .part-1 .photos li:hover img {
    transform: scale(1.1);
}

#Latest .content .part-1 .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Latest .content .part-1 .image img {
    width: 60%;
    transition-duration: var(--duration);
}

#Latest .content .part-1 .image img:hover {
    transform: scale(1.1);
}

#Latest .content .part-2 *:not(:last-child) {
    margin-bottom: 15px;
}

#Latest .content .part-2 ul li {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

/** Featured Section */
#Featured .content .box .item {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 15px #0003;
    transition-duration: var(--duration);
    overflow: hidden;
    height: 350px;
}

#Featured .content .box .item:hover {
    box-shadow: 0 10px 15px #0006;
    transition-duration: var(--duration);
    transform: translateY(-10px);
}

#Featured .content .box .item .discount {
    position: absolute;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    transform: translate(25%, 30%) rotate(45deg);
    transition-duration: var(--duration);
    width: 100%;
    z-index: 3;
}

#Featured .content .box .item .image img {
    transition-duration: var(--duration);
    transform: scale(1);
}

#Featured .content .box .item:hover .image img {
    transform: scale(1.2);
}

#Featured .content .box .item .search i {
    color: #000;
    font-size: 16px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 10px 15px #0003;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition-duration: var(--duration);
}

#Featured .content .box .item:hover .search i {
    opacity: 1;
    transform: translateY(-30px);
    transition-delay: .3s;
}

#Featured .content .box .item .search i:hover {
    background-color: var(--main-color);
    color: #fff;
    transition-delay: 0s;
}

#Featured .content .box .item ul {
    opacity: 0;
    transition-duration: var(--duration);
}

#Featured .content .box .item:hover ul {
    opacity: 1;
    transform: translateY(-15px);
    transition-delay: .5s;
}

#Featured .content .box ul li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

#Featured .content .box .item .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/** Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}